streamlit==1.29.0
pandas
textdescriptives
openai
sentence_transformers
weaviate-client
matplotlib
keybert
spacy==3.4.0
wordcloud
scikit-learn
joblib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0.tar.gz
