streamlit==1.29.0
pandas
textdescriptives
openai
sentence_transformers
weaviate-client
matplotlib
keybert
spacy
wordcloud
scikit-learn
joblib
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
